<div class="admin-section">
  <div class="admin-header">
    <h1>Edit Mystereeple Shop Item</h1>
  </div>

  <div class="admin-content">
    <%= render 'form', mystereeple_shop_item: @shop_item %>
  </div>
</div>
